 body {
     font-size: 16px;
 }

 .logo {
     font-family: 'AdobeInvisFont', 'Courier', 'MyriadPro-Regular';
     font-size: 3em;
     color: rgba(0, 0, 0, 255);
     text-align: center;
     height: 67px;
     width: 300px;
     padding-top: 10px;
 }

 .a1 {
     margin-left: 76px;
 }

 .a2 {
     margin-left: 3px;
 }

 .a3 {
     margin-left: 13px;
     margin-top: 10px;
 }

 .a4 {
     margin-left: 10px;
 }

 .a1, .a2, .a3, .a4 {
     padding-left: 10px;
     padding-top: 10px;
 }

 .clli1 {
     margin-left: 10px;
     padding-left: 10px;
     width: 320px;
 }

 .clli2 {
     margin-left: -4px;
     width: 68px;
     margin-top: 10px;
 }

 .clli3 {
     margin-left: -4px;
     width: 200px;
 }

 .clli4 {
     margin-left: -4px;
     width: 200px;
 }

 .clli1, .clli2, .clli3, .clli4 {
     display: inline-block;
     background-color: #35444f;
     height: 30px;
     font-size: 16px;
     padding-top: 10px;
 }

 .body {
     float: left;
     height: 400px;
     width: 210px;
     border: thin solid black;
     margin-left: 30px;
     padding-left: 10px;
 }

 .ulhead {
     margin-left: -10px;
     width: 874px;
 }

 .li-left {
     font-family: 'AdobeInvisFont', Courier, 'MyriadPro-Regular';
     height: 30px;
     font-size: 1em;
     color: rgba(12, 25, 39, 255);
     text-align: left;
     list-style-type: none;
     margin-left: -36px;
     padding-top: 9px;
     ;
 }

 .imgblock {
     float: left;
     height: 400px;
     width: 600px;
     margin-bottom: 10px;
     border: thin solid black;
     margin-left: 50px;
 }

 img {
     padding-left: 134px;
     padding-top: 10px;
 }

 a {
     text-decoration: none;
     color: #ffffff;
     font-family: AdobeInvisFont, Courier, MyriadPro-Regular;
     text-align: left;
 }

 .text {
     height: 200px;
     width: 600px;
     font-size: 16px;
     overflow: hidden;
     margin-left: 304px;
     margin-top: -83px;
     margin-bottom: -80px;
     text-align: justify;
 }

 .footer {
     display: inline-block;
     font-family: AdobeInvisFont, Courier, MyriadPro-Regular;
     font-size: 14px;
     color: rgba(12, 25, 39, 255);
     text-align: left;
     height: 60px;
     width: 120px;
     background-color: #b4b7ba;
 }

 .foo {
     height: 70px;
     width: 874px;
     margin-left: 30px;
     background-color: #b4b7ba;
 }

 .foocell1 {
     padding-top: 10px;
     margin-left: -20px;
     width: 54px;
 }

 .foocell2 {
     padding-top: 12px;
     width: 100px;
 }

 .foocell3 {
     padding-top: 12px;
     width: 166px;
 }

 .foocell4 {
     padding-top: 12px;
     width: 128px;
 }

 .foocell5 {
     padding-top: 12px;
     width: 180px;
 }

 .foocell6 {
     padding-top: 12px;
     width: 30px;
 }

 .foocell7 {
     padding-top: 12px;
     width: 156px;
 }

 .foocell1, .foocell2, .foocell3, .foocell4, .foocell5, .foocell6, .foocell7 {
     display: inline-block;
     font-family: 'AdobeInvisFont', 'Courier', 'MyriadPro-Regular';
     font-size: 1em;
     color: rgba(12, 25, 39, 255);
     text-align: left;
     height: 30px;
     background-color: #b4b7ba;
     padding-top: 10px;
 }

 li.clli1:hover {
     background-color: #222f3a;
 }

 li.clli2:hover {
     background-color: #222f3a;
 }

 li.clli3:hover {
     background-color: #222f3a;
 }

 li.clli4:hover {
     background-color: #222f3a;
 }

 li.li-left:hover {
     background-color: #dbdbdb;
     margin-left: -8px;
     margin-top: 5px;
 }

 div.foo>ul>li:active {
     color: blue;
     text-decoration: underline;
 }

 .textcollor {
     color: #4bcaff;
 }